<div>
    Здравствуйте, @ViewBag.Name. Ваша роль: @ViewBag.UserRole.
</div>
<div style="display:inline">
    <a class="btn btn-primary" style="background-color:lightsalmon; border-color:lightsalmon;margin: 10px;">Редактировать данные о заказах</a>
    <a class="btn btn-primary" style="background-color:lightsalmon; border-color:lightsalmon;margin: 10px;">Редактировать музыкантов</a>
    <a class="btn btn-primary" style="background-color:lightsalmon; border-color:lightsalmon;margin: 10px;">Редактировать данные о пластинках</a>
    <a class="btn btn-primary" style="background-color:lightsalmon; border-color:lightsalmon;margin: 10px;">Редактировать жанры</a>
</div>


<div margin top: 100px>
    <a class="btn btn-primary" style="background-color:lightcoral; border-color:lightcoral; margin: 10px" href="@Url.Action("Logout")">Выход</a>
</div>