<div>
    Здравствуйте, @ViewBag.Name. Ваша роль: @ViewBag.UserRole.
</div>

<a class="btn btn-primary" style="background-color:lightcoral; border-color:lightcoral; margin: 10px" href="@Url.Action("Logout")">Выход</a>

